<style>
.toggle-menu{
    display: none;
}


@media (max-width: 1018px){

    *{
        box-sizing: border-box !important;
    }

    body{
       min-width: 0;
    }

    .oba-sheet{
        box-shadow: none;
        width: 100%;
        /*overflow: hidden;*/
        margin: 0;
    }

    .oba-header{
        background: #fff;
        text-align: center;
        height: auto;
        width: 100%;
        margin: 0;
        padding: 20px 10px 5px 0px;
    }

    .oba-nostyleRed.corner{
        display: none;
    }

    .oba-logo-2052183278{
        position: static;
        display: inline-block;
        float: left;
    }
    .oba-header>div.oba-nostyle{
        position: static;
        display: inline-block;
        float: right;
    }

    .oba-hmenu-user33{
        position: static;
        display: none;
        clear: both;
    }
    .oba-nav{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        overflow-y: scroll;
    }
    .oba-nav ul{
        display: block;
        padding: 20px;
    }
    ul.oba-hmenu li{
        display: block;
        width: 50%;
        float: left;
        box-sizing: border-box;
        margin: 0 0 5px 0 !important;
    }
    ul.oba-hmenu li:nth-child(odd){
        border-right: 5px solid #fff;
    }
    ul.oba-hmenu li a:link, ul.oba-hmenu li a:visited{
        font-size: 14px;
        height: auto;
        padding: 10px;
        position: static;
        border-radius: 0;
        background: #f0f0f0 !important;
        color: #197cbb !important;
        text-transform: uppercase;
    }
    ul.oba-hmenu li:hover a{
        font-size: 14px !important;
        height: auto !important;
        padding: 10px !important;
        position: static !important;
        border-radius: 0 !important;
        background: #ddd !important;
        color: #197cbb !important;
    }

    .close-nav{
        width: 100%;
        display: block;
        padding: 15px;
        font-size: 15px;
        background: #eee;
        color: #0065a4;
    }

    .oba-layout-top{
        padding: 10px;
        width: 98%;
    }

    .oba-layout-cell.oba-layout-sidebar-bg:first-child{
        width: 100% !important;
    }

    .oba-layout-cell.oba-layout-sidebar-bg:last-child{
        display: none;
    }

    .oba-content-layout-row{
        display: block;
    }

    .oba-header>div.oba-nostyle{
        text-align: right;
        width: 240px !important;
        margin: 15px 10px 0 0;
    }

    div#jbmodule-banner-112 .column .jb-box .item-wrapper-desc .item-title a{
        line-height: 1.2em;
        display: block;
    }

    div#jbmodule-banner-112 .column .jb-box .item-links a{
        display: block;
        margin: 0;
        width: 100%;
    }

    .oba-layout-cell{
        display: block;
        width: 100% !important;
    }

    .uk-position-cover{
        position: static;
    }
    .oba-layout-cell.oba-layout-sidebar-bg:first-child .uk-cover-background.uk-position-cover{
        width: 100% !important;
    }

    .video{
        text-align: center;
        width: 100%;
    }

    .oba-nostyle.newsletter{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        padding: 20px;
    }

    footer.oba-footer ul.menu{
        text-align: center;
    }
    .oba-footer p{
        text-align: center !important;
        display: block;
        margin: 20px 0 0px 0;
    }
    .toggle-menu{
        display: block;
        background: #197cbb;
        color: #fff;
        padding: 12px;
        text-align: center;
        font-size: 16px;
    }

    .oba-layout-top{
        display: none;
    }

    div#jbmodule-banner-112 .column{
        margin-top: 20px;
        width: 49%;
        height: auto !important;
        padding-bottom: 60px;
    }

    .oba-sidebar1{
        display: none;
    }
    .oba-sidebar1.visible{
        display: block !important;
    }

    .category.luxury.rborder.alias-luxury-russia{
        background: none;
        width: 100%;
        padding: 20px;
    }

    .jbzoo-view-category.jbzoo-app-tour .category h1.title{
        max-width: 100%;
        width: 100%;
        text-align: left;
    }

    .luxuryrussia .contform{
        display: none;
    }

    .lixitems.items .column.rborder h4.item-title{
        width: 100%;
        max-width: 100% !important;
    }

    .lixitems.items .column.rborder .item-text.jb-row .lb_content > a{
        display: none;
    }

    .lixitems.items .column.rborder .item-text.jb-row .lb_content .lb_content_left{
        float: none;
        width: 100%;
    }

    .lixitems.items .column.rborder .item-text.jb-row .lb_content p{
        position: relative;
        left: 20px;
    }

    .luxfull div.jbzootabs-content .tourpic{
        display: none !important;
    }

    .luxfull div.jbzootabs-content .lb_top{
        width: 100%;
    }

    .luxfull div.jbzootabs-content:after{
        content: "";
        clear: both;
        display: block;
    }

    .luxfull{
        background: none;
    }

    .luxfull h1.item-title, .luxfull h2.item-subtitle{
        padding: 10px 0;
        width: 100%;
    }

    .luxfull ul.jb-nav.jbzootabs-nav.jbzootabs-header>li:first-child{
        margin: 0 !important;
    }

    .tablelux{
        width: auto !important;
    }

    div.jbzootabs-content .flright{
        float: none;
        margin: 0;
        padding: 0;
    }

}

@media (max-width:550px){

    div#jbmodule-banner-112 .column{
        width: 100%;
        display: block;
        float: none;
        height: auto !important;
        padding-bottom: 50px;
    }

    ul.oba-hmenu li{
        width: 100%;
        float: none;
    }
    ul.oba-hmenu li:nth-child(odd){
        border-right: 0;
    }

    .oba-shapes{
        display: none;
    }
    .oba-header{
        padding: 20px 0;
    }

    .oba-logo{
        width: 100%;
        text-align: center;
        display: none;
    }
    .oba-logo.visible{
        display: block !important;
    }

    .oba-header>div.oba-nostyle{
        width: 100% !important;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .tabright{
        float: none !important;
        display: block;
        width: 100% !important;
        text-align: center;
        margin-left: 0 !important;
    }
    .tabright .item-module{
        display: none;
    }

    .contformb table td{
        display: block;
        width: 100%;
        text-align: center;
    }

    a.contform{
        display: none;
    }

    h2.item-subtitle{
        margin-bottom: 10px;
    }

    .jbzoo .align-right img, .jbzoo .item-image.align-right, .jbzoo .align-right>div{
        float: none;
        margin: 0 0 10px 0 !important;
    }

    div.jbzoo-view-category .description-full{
        width: 100%;
    }

    div.jbzoo-view-category .items .jbzoo-item.jbzoo-item-tour.jbzoo-item-teaser{
        padding-bottom: 40px;
        position: relative;
    }

    div.jbzoo-view-category .items .jbzoo-item.jbzoo-item-tour.jbzoo-item-teaser .jb-row.item-buttons{
        bottom: 10px;
    }

    .jbzootabs .jbzootabs-nav li{
        display: block;
        width: 100%;
    }
    .jbzootabs .jbzootabs-nav li a{
        width: 100%;
        text-align: center;
        font-size: 13px;
    }

    .oba-content-layout .oba-content{
        padding: 20px 10px;
    }

    .element table{
        overflow-x: scroll !important;
    }
    .jbzoo .title{
        text-align: left;
    }

    div.jbzootabs-content table img{
        max-width: 100%;
        height: auto !important;
    }

    .oba-nav ul{
        padding: 10px;
    }

    .makescrollable{
        overflow-x: auto !important;
    }

    .formTableLayout{
        display: block;
    }

    .formTableLayout tbody{
        display: block;
    }

    .formTableLayout tr{
        display: block;
        padding: 10px;
    }

    .formTableLayout td{
        display: block;
        width: 100% !important;
        padding: 10px 0;
    }

    h1.item-title{
        width: 100%;
    }
    h2.item-subtitle{
        width: 100%;
    }

    #g-recaptcha-29, #g-recaptcha-38{
        transform: scale(0.85);
    }

    .formborder{
        padding: 0 !important;
    }

    .backtopr{
        display: none;
    }

    .formborder input#Submit{
        display: block;
        margin: 20px auto;
    }

    div.jbzoo-view-category .items .jbzoo-item.jbzoo-item-tour.jbzoo-item-teaser h4.item-title{
    	overflow: hidden;
    }

    .item-content img{
    	max-width: 100%;
    }

    .item-content table[style="width:575px;"], .item-content table[style="width:575px;margin-top:10px;"]{
    	width: 100% !important;
    }
    
    .item-content table[style="width:575px;"] td, .item-content table[style="width:575px;margin-top:10px;"] td{
    	display: block;
    	width: 100% !important;
    	padding: 0 !important;
    }

    .lixitems.items .column.rborder .item-text.jb-row .lb_content p{
        position: static;
        display: block;
        clear: both;
    }

}

</style>