{
	"jbuniversal.typetour.default": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"description": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"order": {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": "",
					"7": "",
					"8": "",
					"9": "",
					"10": "",
					"11": "",
					"12": "",
					"13": "",
					"14": ""
				},
				"layout": "",
				"link_to_item": "0",
				"limit": "",
				"separated_by": "separator=[ ]",
				"element": "ded9f3be-8094-4bda-a025-364bbbeffa14"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "default",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "a7cbf290-8b76-4a15-afab-1271d562a56b"
			}
		}
	}
}