{
	"jbuniversal.tourscenter.default": {
		"fields": {
			"0": {
				"showlabel": "1",
				"altlabel": "COUNTRY",
				"jbzoo_filter_render": "select-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "0",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "55272b49-1a3e-4413-bce1-3b4c7de5449a"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "TOURCENTRE TYPE",
				"jbzoo_filter_render": "select-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "0",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "a03fff97-b5f0-4b2d-adf6-373b019614e0"
			}
		}
	},
	"jbuniversal.testimonial.default": {
		"fields": {
			"0": {
				"showlabel": "1",
				"altlabel": "COUNTRY",
				"jbzoo_filter_render": "select-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "0",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "ab69764d-6897-4418-b986-298f9f71238e"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "TOURCENTRE TYPE",
				"jbzoo_filter_render": "select-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "0",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "e97bc07c-a398-4555-b084-25dce900536f"
			}
		}
	},
	"jbuniversal.tour.default": {
		"fields": {
			"0": {
				"showlabel": "1",
				"altlabel": "Tour name",
				"jbzoo_filter_render": "_auto_",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "Any tour",
				"jbzoo_filter_autocomplete": "1",
				"element": "_itemname"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "Tour types",
				"jbzoo_filter_render": "select-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "Any tour type",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "b8c3f881-504c-451c-b5e1-4aa3796a8fb9"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "Destination",
				"jbzoo_filter_render": "select-chosen",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "1",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "Any region",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "0",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "100",
				"element": "4b04d121-4288-4fc2-89e2-b945a8faf72a"
			},
			"3": {
				"showlabel": "1",
				"altlabel": "Duration in days",
				"jbzoo_filter_render": "slider",
				"jbzoo_filter_default": "",
				"jbzoo_filter_multiple": "0",
				"jbzoo_filter_count": "1",
				"jbzoo_filter_placeholder": "",
				"jbzoo_filter_autocomplete": "1",
				"jbzoo_filter_slider_auto": "1",
				"jbzoo_filter_slider_min": "0",
				"jbzoo_filter_slider_max": "10000",
				"jbzoo_filter_slider_step": "1",
				"element": "bba16d4c-1c74-40d1-b94d-bef91acfbb68"
			},
			"4": {
				"showlabel": "1",
				"altlabel": "Journey period",
				"jbzoo_filter_render": "date-range",
				"jbzoo_filter_default": "",
				"element": "855790f9-f16f-41c5-97e2-26f27a677878"
			},
			"5": {
				"showlabel": "1",
				"altlabel": "",
				"jbzoo_filter_render": "jbpriceplain",
				"jbprice_filter_template": "default",
				"element": "aff4ffac-7bc0-43c0-8e2e-7a6e02ad0900"
			}
		}
	}
}