body{padding:0px;margin:0px;}
#xdsoft_object_form *, #xdsoft_object_form{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#xdsoft_object_form_parent{
	min-height:350px;
}
#xdsoft_object_form{
	width:320px;
}
#xdsoft_object_form td{
width:25%;
vertical-align:top;
}
#xdsoft_object_form textarea{
	width:99%;
	display:block;
	min-height:50px;
	padding:5px;
}
#xdsoft_object_form #iconContent, #xdsoft_object_form #category_id{
	width:100%;
	padding:5px;
}
#xdsoft_object_form .color{
	width:32px;
	height:32px;
	padding:0px;
	border:1px solid #f6f6f6;
	cursor:pointer;
}
.iconpicker #iconpickermirror{
	max-width:24px;
	max-height:24px;
}
.iconpicker{
	display:inline-block;
	margin-right:10px;
}
.iconpicker .iconpickerfile{
	display:none;
}
.iconpicker .iconpickersuggestions{
	display:none;
	position:absolute;
	z-index:20;
	background:#fff;
	border:1px solid #ccc;
	width:340px;
	overflow:auto;
	top:100%;
	left:-1px;
	font-size:0;
	line-height:0;
	padding:5px;
}
.iconpicker .iconpickersuggestions a{
	cursor:pointer;
	border:1px solid transparent;
	display:inline-block;
}
.iconpicker .iconpickersuggestions a:hover{
border:1px solid #ccc;
}
.iconpicker .iconpickersuggestions img{
	max-width:24px;
	max-height:24px;
}
.iconpicker .iconpickervariants{
	position:relative;
	display:inline-block;
	width:34px;
	height:34px;
	border:1px solid #ccc;
	padding:5px;
}
.iconpicker .iconpickervariants > span{
	display:block;
	width:15px;
	position:absolute;
	right:-10px;
	top:-1px;
	bottom:-1px;
	border:1px solid #ccc;
	border-width:1px 1px 1px 0px;
}
.iconpicker .iconpickervariants > span:after{
	display:inline-block;
	content:"";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 0 4px 8px;
	border-color: transparent transparent transparent #999999;
	top:50%;
	left:7px;
	margin-top:-4px;
	position:absolute;
}
.iconpicker .iconpickervariants:not(.xdsoft_i_closed):hover .iconpickersuggestions{
	display:block;
}
.xdsoft_colors label{
	width: 55px;
    display: inline-block;
}
.xdsoft_colors input.color{
color:transparent !important;
}
.input-prepend {
    display: inline-block;
    margin-bottom: 9px;
    vertical-align: middle;
    font-size: 0;
    white-space: nowrap;
}
.input-prepend, .form-horizontal .input-append {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
    margin-right: -1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.input-append .add-on, .input-prepend .add-on {
    display: inline-block;
    width: auto;
    height: 18px;
    min-width: 16px;
    padding: 4px 5px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    background-color: #eee;
    border: 1px solid #ccc;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'IcoMoon';
    font-style: normal;
    speak: none;
}
.icon-eye-open:before, .icon-eye:before {
    content: "\3c";
}
.input-prepend.input-append input, .input-prepend.input-append select, .input-prepend.input-append .uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.input-append input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
	font-size: 13px;
	height: 18px;
    padding: 4px 6px;
}
.input-small {
    width: 90px;
}
.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #bbb;
    border-top-color: rgb(187, 187, 187);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(187, 187, 187);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #a2a2a2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(187, 187, 187);
    border-left-style: solid;
    border-left-width: 1px;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.input-prepend .btn {
    margin-right: -1px;
}
.input-prepend .btn {
    vertical-align: top;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.input-prepend >*{
	height: 28px !important;
}
.input-prepend.input-append .btn:last-child {
    margin-left: -1px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.icon-delete:before, .icon-remove:before, .icon-cancel-2:before {
    content: "x";
}
a {
    color: #08c;
    text-decoration: none;
}
.btn-ok{
	width:50px;
	float:right;
}

.btn-link:hover, .btn-link:focus {
    color: #005580;
    text-decoration: underline;
    background-color: transparent;
}

.btn-link {
    border-color: transparent;
    cursor: pointer;
    color: #08c;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}