 {
	"ZL Framework":  {
		"version": "2.5.9",
		"manifest": "plugins\/system\/zlframework\/zlframework.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/zl-framework"
	},
	"ZLFramework":  {
		"version": "2.5.9",
		"manifest": "plugins\/system\/zlframework.xml",
		"url": "http:\/\/www.zoolanders.com\/extensions\/item\/zl-framework"
	}
}