{
	"name": "Blog",
	"elements": {
		"06550ad0-70ff-42e3-b321-5bc496afdff8": {
			"name": "First position",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "yes",
					"value": "yes"
				}
			},
			"type": "checkbox"
		},
		"6e9c78e6-b0d7-4597-a639-40d3bdf35a96": {
			"name": "Teaser",
			"description": "",
			"access": "1",
			"upload_directory": "images\/uploads\/",
			"max_number": "1",
			"max_upload_size": "2048",
			"thumb_width": "175",
			"thumb_height": "110",
			"max_width": "1920",
			"max_height": "1080",
			"watermark_enable": "0",
			"watermark_path": "images\/watermark.png",
			"upload_by_user": "1",
			"upload_by_date": "1",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "0",
			"delete_type": "simple",
			"type": "jbgalleryimage"
		},
		"d69eef9c-4f26-40f4-9002-b649f56e5001": {
			"name": "HeadBanner",
			"description": "",
			"access": "1",
			"upload_directory": "images\/uploads\/",
			"max_number": "1",
			"max_upload_size": "2048",
			"thumb_width": "175",
			"thumb_height": "110",
			"max_width": "1920",
			"max_height": "1080",
			"watermark_enable": "0",
			"watermark_path": "images\/watermark.png",
			"upload_by_user": "1",
			"upload_by_date": "1",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "0",
			"delete_type": "simple",
			"type": "jbgalleryimage"
		},
		"601f2e66-cfa9-44f8-837e-e8f3a9fb6ef3": {
			"name": "Gallery",
			"description": "",
			"access": "1",
			"upload_directory": "images\/uploads\/",
			"max_number": "10",
			"max_upload_size": "2048",
			"thumb_width": "175",
			"thumb_height": "110",
			"max_width": "1920",
			"max_height": "1080",
			"watermark_enable": "0",
			"watermark_path": "images\/watermark.png",
			"upload_by_user": "1",
			"upload_by_date": "1",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "0",
			"delete_type": "simple",
			"type": "jbgalleryimage"
		},
		"adbcf852-e0a6-4a41-8406-4d3d720a2df9": {
			"name": "Text",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"757582d5-cf9d-418d-a9e0-b41f84129296": {
			"name": "Video",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "jbvideo"
		},
		"eeb17a4a-95d3-49f2-952a-377c1379a638": {
			"name": "Tours",
			"description": "",
			"access": "1",
			"selectable_types": {
				"0": "tour"
			},
			"revers_types": {
				"0": "10:tour:bebd188c-c75a-45bd-9204-4b5cb077d700"
			},
			"type_app": {
				"0": "1"
			},
			"type": "relateditemsmain"
		},
		"446bfbe8-27f7-4e6f-b018-db5091efdce5": {
			"name": "Category",
			"description": "",
			"access": "1",
			"multiselect": "0",
			"type": "relatedcategories"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		},
		"_staticcontent": {
			"name": "Static Content",
			"description": "",
			"access": "1",
			"type": "staticcontent"
		}
	},
	"zl": null
}