 {
	"name": "Excursion",
	"elements":  {
		"32ee9621-8a2c-401e-8c09-87a67a8206e3":  {
			"name": "Teaser Image",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"instancelimit": "",
			"files":  {
				"_mode": "both",
				"_default_source": "",
				"_extensions": "bmp|gif|jpg|jpeg|png",
				"_source_dir": "images",
				"_max_upload_size": "1024",
				"_resize": "1",
				"resize":  {
					"width": "250",
					"height": "150",
					"crop": "1"
				}
			},
			"specific":  {
				"_custom_options": "1",
				"_custom_title": "1",
				"_custom_link": "1",
				"_custom_lightbox": "1",
				"_custom_overlay": "1"
			},
			"type": "imagepro"
		},
		"1260fc84-3b04-4c75-b458-48a0cd7b1eb5":  {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"ee34fb5d-47a4-418c-997a-610f7fe33a15":  {
			"name": "Tours",
			"description": "",
			"access": "1",
			"selectable_types":  {
				"0": "tour"
			},
			"type_app":  {
				"0": "1"
			},
			"type": "relateditemsmain"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		},
		"_staticcontent":  {
			"name": "Static Content",
			"description": "",
			"access": "1",
			"type": "staticcontent"
		}
	},
	"zl": null
}