{
	"name": "Hotel",
	"elements": {
		"edd6633f-8d00-440c-98fe-a9ea9bd94bd4": {
			"name": "Crown",
			"description": "",
			"access": "1",
			"default": "",
			"option": {
				"0": {
					"name": "1 crown",
					"value": "1-crown",
					"image": "images\/1crown.gif"
				},
				"1": {
					"name": "2 crown",
					"value": "2-crown",
					"image": "images\/2crown.gif"
				},
				"2": {
					"name": "3 crown",
					"value": "3-crown",
					"image": "images\/3crown.gif"
				},
				"3": {
					"name": "4 crown",
					"value": "4-crown",
					"image": "images\/4crown.gif"
				},
				"4": {
					"name": "5 crown",
					"value": "5-crown",
					"image": "images\/5crown.gif"
				}
			},
			"renderwidth": "",
			"renderheight": "",
			"adminwidth": "",
			"adminheight": "90",
			"input_type": "radio",
			"hide_select": "true",
			"show_label": "false",
			"multiple": "0",
			"data_limit": "",
			"type": "imagebox"
		},
		"4d7a6c53-afb5-486c-a0c8-f0ee1c4ce4ce": {
			"name": "Images",
			"description": "",
			"access": "1",
			"upload_directory": "images\/uploads\/",
			"max_number": "10",
			"max_upload_size": "2048",
			"thumb_width": "175",
			"thumb_height": "110",
			"max_width": "1920",
			"max_height": "1080",
			"watermark_enable": "0",
			"watermark_path": "images\/watermark.png",
			"upload_by_user": "1",
			"upload_by_date": "1",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "0",
			"delete_type": "simple",
			"type": "jbgalleryimage"
		},
		"d3454974-c50a-4269-9caf-57b77ffa9f39": {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"6078782e-e527-4384-817e-e784d2486954": {
			"name": "Address ",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"5dc465a0-2c05-4a92-8014-5e56f08db0bc": {
			"name": "Location ",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"baf84bb8-0fb3-422f-a03d-bcdf46ac9360": {
			"name": "Accommodation ",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"7e94797b-6ebb-4e06-994a-0c6f4ccafeb2": {
			"name": "In-room ",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"33bc3fcf-c9a4-4076-96d3-441eb4d37bfb": {
			"name": "Leisure ",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"90e53ba3-a9ba-4e61-b1b4-b2984c2a846d": {
			"name": "Business facilities ",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"3f17cea1-b07e-4f14-85ff-489321edb68b": {
			"name": "Other services",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"a1c073b7-c4fa-4909-91c1-4ac2abe85733": {
			"name": "Nearest metro station",
			"description": "",
			"access": "1",
			"repeatable": "1",
			"default": "",
			"type": "text"
		},
		"d6a0c338-8021-4614-9db4-92b7e011c9d7": {
			"name": "Tours",
			"description": "",
			"access": "1",
			"selectable_types": {
				"0": "tour"
			},
			"type_app": {
				"0": "1"
			},
			"type": "relateditemsmain"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		},
		"_staticcontent": {
			"name": "Static Content",
			"description": "",
			"access": "1",
			"type": "staticcontent"
		}
	},
	"zl": null
}