 {
	"name": "News",
	"elements":  {
		"94bcfce7-9c43-4e9f-b2a9-5d39b961087b":  {
			"name": "Date",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"type": "date"
		},
		"56df2878-413c-4d70-8964-5843cce8bbc2":  {
			"name": "Teaser Image",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"instancelimit": "",
			"files":  {
				"_mode": "both",
				"_default_source": "",
				"_extensions": "bmp|gif|jpg|jpeg|png",
				"_source_dir": "images",
				"_max_upload_size": "1024",
				"_resize": "1",
				"resize":  {
					"width": "250",
					"height": "150",
					"crop": "1"
				}
			},
			"specific":  {
				"_custom_options": "1",
				"_custom_title": "1",
				"_custom_link": "1",
				"_custom_lightbox": "1",
				"_custom_overlay": "1"
			},
			"type": "imagepro"
		},
		"31aa2812-eec7-405d-aba4-816e78245e14":  {
			"name": "Preview",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"d5f2b413-3e37-494b-950e-61f0064c9ac2":  {
			"name": "Description",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		},
		"_staticcontent":  {
			"name": "Static Content",
			"description": "",
			"access": "1",
			"type": "staticcontent"
		}
	},
	"zl": null
}