 {
	"name": "Tourscenter",
	"elements":  {
		"55272b49-1a3e-4413-bce1-3b4c7de5449a":  {
			"name": "Counrty",
			"description": "",
			"access": "1",
			"default": "",
			"multiple": "0",
			"type": "select",
			"option":  {
				"0":  {
					"name": "Russia",
					"value": "russia"
				},
				"1":  {
					"name": "Latvia",
					"value": "latvia"
				},
				"2":  {
					"name": "Lithuania",
					"value": "lithuania"
				},
				"3":  {
					"name": "Estonia",
					"value": "estonia"
				},
				"4":  {
					"name": "Belarus",
					"value": "belarus"
				},
				"5":  {
					"name": "Ukraine",
					"value": "ukraine"
				},
				"6":  {
					"name": "China",
					"value": "china"
				},
				"7":  {
					"name": "Mongolia",
					"value": "mongolia"
				},
				"8":  {
					"name": "Uzbekistan",
					"value": "uzbekistan"
				},
				"9":  {
					"name": "North Korea",
					"value": "north-korea"
				},
				"10":  {
					"name": "Armenia",
					"value": "armenia"
				},
				"11":  {
					"name": "Azerbaijan",
					"value": "azerbaijan"
				},
				"12":  {
					"name": "Georgia",
					"value": "georgia"
				},
				"13":  {
					"name": "Kazakhstan",
					"value": "kazakhstan"
				},
				"14":  {
					"name": "Kyrgyzstan",
					"value": "kyrgyzstan"
				},
				"15":  {
					"name": "Turkmenistan",
					"value": "turkmenistan"
				}
			}
		},
		"a03fff97-b5f0-4b2d-adf6-373b019614e0":  {
			"name": "Type",
			"description": "",
			"access": "1",
			"default": "",
			"multiple": "0",
			"type": "select",
			"option":  {
				"0":  {
					"name": "city",
					"value": "city"
				},
				"1":  {
					"name": "region",
					"value": "region"
				},
				"2":  {
					"name": "resort",
					"value": "resort"
				},
				"3":  {
					"name": "route",
					"value": "route"
				},
				"4":  {
					"name": "natural object",
					"value": "natural-object"
				},
				"5":  {
					"name": "tourcenter",
					"value": "tourcenter"
				},
				"6":  {
					"name": "religion centre",
					"value": "religion-centre"
				},
				"7":  {
					"name": "country",
					"value": "country"
				}
			}
		},
		"d367d25f-9e42-4c99-88ed-59322f7e2764":  {
			"name": "Memo",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"_itemaccess":  {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor":  {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory":  {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemcommentslink":  {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated":  {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit":  {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage":  {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits":  {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink":  {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified":  {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname":  {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint":  {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down":  {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up":  {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext":  {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable":  {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate":  {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag":  {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		},
		"_staticcontent":  {
			"name": "Static Content",
			"description": "",
			"access": "1",
			"type": "staticcontent"
		}
	},
	"zl": null
}