{
	"name": "Type tour",
	"elements": {
		"ded9f3be-8094-4bda-a025-364bbbeffa14": {
			"name": "Tours of teaser home",
			"description": "",
			"access": "1",
			"selectable_types": {
				"0": "tour"
			},
			"type_app": {
				"0": "1"
			},
			"type": "relateditemsmain"
		},
		"2812512a-3571-4f3a-8123-d793ccb5974b": {
			"name": "Text",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"fc663223-f11c-4493-ba59-9fc6e44c1870": {
			"name": "Tours",
			"description": "",
			"access": "1",
			"selectable_types": {
				"0": "tour"
			},
			"revers_types": {
				"0": "10:tour:d84a191b-943b-4696-b3e0-4bdde26e403f"
			},
			"type_app": {
				"0": "1"
			},
			"type": "relateditemsmain"
		},
		"a7cbf290-8b76-4a15-afab-1271d562a56b": {
			"name": "Teaser",
			"description": "",
			"access": "1",
			"upload_directory": "images\/uploads\/",
			"max_number": "1",
			"max_upload_size": "2048",
			"thumb_width": "175",
			"thumb_height": "110",
			"max_width": "1920",
			"max_height": "1080",
			"watermark_enable": "0",
			"watermark_path": "images\/watermark.png",
			"upload_by_user": "1",
			"upload_by_date": "1",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "0",
			"delete_type": "simple",
			"type": "jbgalleryimage"
		},
		"e41d0234-5f4a-4b11-b448-c55a44101716": {
			"name": "link for category",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"type": "text"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		},
		"_staticcontent": {
			"name": "Static Content",
			"description": "",
			"access": "1",
			"type": "staticcontent"
		}
	},
	"zl": null
}