{
	"name": "VIsa",
	"elements": {
		"6b511bbb-455d-4dd5-b34d-a6cf0dc404c0": {
			"name": "Header Image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/uploads\/",
			"max_number": "1",
			"max_upload_size": "10240",
			"thumb_width": "175",
			"thumb_height": "110",
			"max_width": "1920",
			"max_height": "1080",
			"watermark_enable": "0",
			"watermark_path": "images\/watermark.png",
			"upload_by_user": "1",
			"upload_by_date": "1",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "0",
			"delete_type": "simple",
			"type": "jbgalleryimage"
		},
		"398017f4-4832-4f4c-aa6b-a0e05b5d0116": {
			"name": "Teaser image",
			"description": "",
			"access": "1",
			"upload_directory": "images\/uploads\/",
			"max_number": "10",
			"max_upload_size": "2048",
			"thumb_width": "175",
			"thumb_height": "110",
			"max_width": "1920",
			"max_height": "1080",
			"watermark_enable": "0",
			"watermark_path": "images\/watermark.png",
			"upload_by_user": "1",
			"upload_by_date": "1",
			"default_enable": "0",
			"default_image": "",
			"remove_with_item": "0",
			"delete_type": "simple",
			"type": "jbgalleryimage"
		},
		"38f6d79d-66a2-4697-977a-fc98a855c074": {
			"name": "Testimonials",
			"description": "",
			"access": "1",
			"selectable_types": {
				"0": "testimonial"
			},
			"type_app": {
				"0": "2"
			},
			"type": "relateditemsmain"
		},
		"12654e0b-9bbb-4eeb-be9a-371d9b73b2e4": {
			"name": "Preview text - Descr",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"61b2205c-01fa-4ede-8b6e-5e763ef97042": {
			"name": "Price",
			"description": "",
			"access": "1",
			"only_selected": "1",
			"cache": "1",
			"type": "jbpriceplain"
		},
		"2b1c9d2f-b8c4-4909-935c-b5d081c22d0d": {
			"name": "VIsa text",
			"description": "",
			"access": "1",
			"repeatable": "0",
			"default": "",
			"jplugins": "1",
			"type": "textarea"
		},
		"_itemaccess": {
			"name": "Access",
			"description": "",
			"access": "1",
			"type": "itemaccess"
		},
		"_itemauthor": {
			"name": "Author",
			"description": "",
			"access": "1",
			"type": "itemauthor"
		},
		"_itemcategory": {
			"name": "Categories",
			"description": "",
			"access": "1",
			"type": "itemcategory"
		},
		"_itemprimarycategory": {
			"name": "Primary Category",
			"description": "",
			"access": "1",
			"type": "itemprimarycategory"
		},
		"_itemcommentslink": {
			"name": "Comments Link",
			"description": "",
			"access": "1",
			"type": "itemcommentslink"
		},
		"_itemcreated": {
			"name": "Creation Date",
			"description": "",
			"access": "1",
			"type": "itemcreated"
		},
		"_itemedit": {
			"name": "Edit",
			"description": "",
			"access": "1",
			"type": "itemedit"
		},
		"_itemfrontpage": {
			"name": "Frontpage Enabled",
			"description": "",
			"access": "1",
			"type": "itemfrontpage"
		},
		"_itemhits": {
			"name": "Hits",
			"description": "",
			"access": "1",
			"type": "itemhits"
		},
		"_itemlink": {
			"name": "Item Link",
			"description": "",
			"access": "1",
			"type": "itemlink"
		},
		"_itemmodified": {
			"name": "Modification Date",
			"description": "",
			"access": "1",
			"type": "itemmodified"
		},
		"_itemname": {
			"name": "Name",
			"description": "",
			"access": "1",
			"type": "itemname"
		},
		"_itemprint": {
			"name": "Print",
			"description": "",
			"access": "1",
			"type": "itemprint"
		},
		"_itempublish_down": {
			"name": "Publish Down Date",
			"description": "",
			"access": "1",
			"type": "itempublish_down"
		},
		"_itempublish_up": {
			"name": "Publish Up Date",
			"description": "",
			"access": "1",
			"type": "itempublish_up"
		},
		"_itemprevnext": {
			"name": "Previous\/Next Link",
			"description": "",
			"access": "1",
			"type": "itemprevnext"
		},
		"_itemsearchable": {
			"name": "Searchable",
			"description": "",
			"access": "1",
			"type": "itemsearchable"
		},
		"_itemstate": {
			"name": "State",
			"description": "",
			"access": "1",
			"type": "itemstate"
		},
		"_itemtag": {
			"name": "Tags",
			"description": "",
			"access": "1",
			"type": "itemtag"
		},
		"_staticcontent": {
			"name": "Static Content",
			"description": "",
			"access": "1",
			"type": "staticcontent"
		}
	},
	"zl": null
}