{
	"jbuniversal.highlight.full": {
		"title": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "popup",
				"group_popup": "1",
				"width": "400",
				"height": "300",
				"width_popup": "1280",
				"height_popup": "800",
				"element": "12f800a1-1601-47fb-a20b-eaac4395679c"
			}
		},
		"text": {
			"0": {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "78b8bc74-ea14-45e0-9721-c24e1c97b72a"
			},
			"1": {
				"showlabel": "1",
				"altlabel": "",
				"order": {
					"0": "_itemname",
					"1": "",
					"2": "",
					"3": "",
					"4": "",
					"5": "",
					"6": "",
					"7": "",
					"8": "",
					"9": "",
					"10": "",
					"11": "",
					"12": ""
				},
				"layout": "",
				"link_to_item": "1",
				"limit": "",
				"separated_by": "tag=[<li>%s<\/li>] enclosing_tag=[<ul>%s<\/ul>]",
				"element": "5fce2b59-7610-4099-ac7c-fe7099538b44"
			},
			"2": {
				"showlabel": "1",
				"altlabel": "",
				"layout": "",
				"information": "",
				"marker_popup": "0",
				"main_icon": "red-dot",
				"zoom_level": "13",
				"map_controls": "2",
				"scroll_wheel_zoom": "1",
				"map_type": "0",
				"type_controls": "1",
				"directions": "0",
				"width_unit": "%",
				"width": "100",
				"height": "400",
				"element": "fc011512-8643-47d1-9358-826b938b9909"
			}
		}
	}
}