 {
	"jbuniversal.tour.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"code":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "acce8284-cad8-4561-ba5d-04b0179c04f3"
			}
		},
		"subtitle":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "348298b8-bb2f-4d42-abb1-7b6344042e1e"
			}
		},
		"tab1name":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "7d372fc0-0e89-4298-8b67-3aa976ac91da"
			}
		},
		"tab1content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "d44fa028-fa4b-45e4-9e98-44970b552b4a"
			}
		},
		"tab1banner":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific":  {
					"_width": "250",
					"_height": "",
					"_avoid_cropping": "1"
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "f2669653-86c4-46e1-843d-bd17ef52373a"
			}
		},
		"tab1modul":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "37cd62aa-8a8e-4109-9ab1-ce32ae2aed0d"
			}
		},
		"tab1gallery":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox": "1",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "",
					"_overlay": "1",
					"_default_overlay_caption": ""
				},
				"specific":  {
					"_width": "250",
					"_height": "150",
					"_avoid_cropping": "1"
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "de6fe2d4-dac5-4071-9111-d77434b3eda8"
			}
		},
		"tab2name":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "b8aa3abe-4905-4ceb-99c6-1fbcf0960a21"
			}
		},
		"tab2content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "ae4ba423-8a19-4902-9702-29d5e5f912fc"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "46a666fb-c484-411b-9819-92fd736fdf20"
			}
		},
		"tab3name":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "faacf3ec-4fc3-4bf6-ab01-dc2a657fdaaf"
			}
		},
		"tab3content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "127ddc12-169f-4c4d-b06f-ff4352b360b5"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"order":  {
					"0": "",
					"1": "",
					"2": ""
				},
				"layout": "teaser",
				"link_to_item": "1",
				"limit": "",
				"separated_by": "tag=[<div>%s<\/div>]",
				"element": "fdc8ce3d-6231-4d9c-abaa-82743dd5694a"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific":  {
					"_width": "",
					"_height": "",
					"_avoid_cropping": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "ac890f91-b2d8-40c9-ab7e-7c62a967dd36"
			}
		},
		"tab4name":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "6d37bb52-67e9-4543-bf5a-952dc9bfebb6"
			}
		},
		"tab4content":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "5b72ad76-cd2e-4e14-90e0-c1186c4480e7"
			}
		},
		"tab4banner":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "{title|filename}",
					"_default_overlay_caption": "{title|filename}"
				},
				"specific":  {
					"_width": "",
					"_height": "",
					"_avoid_cropping": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": ""
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "f2669653-86c4-46e1-843d-bd17ef52373a"
			}
		},
		"tab4modul":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "37cd62aa-8a8e-4109-9ab1-ce32ae2aed0d"
			}
		}
	},
	"jbuniversal.hotel.teaser":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"linked": "0",
				"separated_by": "separator=[ ]",
				"element": "_itemcategory"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"option_name": "0",
				"separated_by": "separator=[ ]",
				"element": "edd6633f-8d00-440c-98fe-a9ea9bd94bd4"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"layout":  {
					"_layout": "default.php",
					"_sublayout": "_default.php",
					"_lightbox": "1",
					"_lightbox_width": "",
					"_lightbox_height": "",
					"_default_lightbox_caption": "",
					"_overlay": "1",
					"_default_overlay_caption": ""
				},
				"specific":  {
					"_width": "250",
					"_height": "150",
					"_avoid_cropping": ""
				},
				"filter":  {
					"_offset": "",
					"_limit": "1"
				},
				"separator":  {
					"_by": "separator=[ ]",
					"_by_custom": "",
					"_class": ""
				},
				"element": "a3ff7a05-0a03-4f8d-b251-9f0a27240463"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ <i>or<\/i> ]",
				"element": "a1c073b7-c4fa-4909-91c1-4ac2abe85733"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "d3454974-c50a-4269-9caf-57b77ffa9f39"
			}
		}
	}
}